/* Your code here */
header {
  text-align: center;
}
#grid {
  min-width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  justify-content: center;
  align-self: center;
  border: none;
}
.cell {
  height: 200px;
  border: 1px solid black;
  color: black;
  font-size: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
}
#square-0,
#square-1,
#square-2 {
  border-top: none;
}

#square-0,
#square-3,
#square-6 {
  border-left: none;
}

#square-2,
#square-5,
#square-8 {
  border-right: none;
}

#square-6,
#square-7,
#square-8 {
  border-bottom: none;
}

footer {
  display: flex;
  min-width: 50%;
  margin: auto;
  justify-content: center;
  justify-content: space-around;
}
